:root {
  --color-primary: #1446A0;
  --color-dark: #DB3069;
  --color-light: #EBEBD3;
  --color-code-light: #F5D547;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #000000;
  --color-code-dark: hsl(24, 59%, 10%);
}
html {
  height: 100%;
  background-color: var(--color-primary);
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header-bar {
  background-color: var(--color-light);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  flex: 0 0 auto;
}
.header-title {
  display: inline-block;
  padding-left: 0.5em;
  font-size: 3em;
  font-weight: bolder;
  cursor: default;
  color: var(--color-primary);
}
.header-photo {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  border: 3px solid var(--color-dark);
}

.page-container {
  display: flex;
  margin: 0 20vw;
  flex: 1 0 auto;
}
.navigation-bar {
  position: sticky;
  top: 1em;
  margin: 1em 1em 0 0;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: var(--color-dark);
  color: var(--color-text-primary);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding: 5px;
}
.navigation-bar ul {
  list-style-type: '# ';
}
.navigation-bar li {
  padding-bottom: 0.5em;
}
.navigation-bar a:link, a:visited {
  color: var(--color-text-primary);
  text-decoration: none;
}

.navigation-bar hr {
  border: 0.1px solid var(--color-light);
  border-radius: 1px;
}
.contacts-list {
  padding: 0 1em;
}
.contacts-list li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

h2 {
  margin: 0em;
  padding: 1em;
  cursor: default;
}

main {
  margin: 1em 0 0 0;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-light);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding: 5px;
}

main hr {
  border: 0.1px solid var(--color-dark);
  border-radius: 1px;
}
main p {
  text-indent: 1em;
  padding: 0 1em;
  text-align: justify;
}
main h2 {
  color: var(--color-dark);
}
code {
  display:block;
  white-space:pre-wrap;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  background-color: var(--color-dark);
  display: block;
  padding: 1em;
  margin: 1em;
}
footer {
  background-color: var(--color-code-light);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
  margin-top: 1em;
  border-radius: 0;
  color: var(--color-text-secondary);
}
.footer-logo {
  width: fit-content;
  height: 3.5em;
  fill: var(--color-text-primary);
}