html {
  height: 100%;
}
body {
  background-color: #edeef0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
header h1 {
  display: inline-block;
  padding-left: 0.5em;
  font-size: 3em;
  font-weight: bolder;
}
.photo {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  border: 3px solid #c0c0c0;
}